{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="row">
		<span class="login100-form-title p-b-70">
			Customer Review
		</span>
	</div>
	<div class="row">
		<div class="media">
			<span class="login100-form-avatar">
				<img src="{{ object.author.profile.image.url }}" alt="AVATAR">
			</span>
			<div class="media-body">
				<h4 class="account-item">{{ object.title }}</h4>
				<p class="text-muted">{{ object.content }}</p>
				<p class="text-muted">{{ object.author }}</p>
			</div>
			<ul class="login-more p-t-190">

				<li>
					<a href="{% url 'Review-Update' object.id %}" class="txt2">
						Edit
					</a>
					<a href="{% url 'Home' %}" class="txt1">
						Return to home page
					</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}